Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-10, with the labels that each got.

#382 Text updates to Load Testing
  automated-testing/performance-testing/load-testing.md
Labels: testing

#388 ML fundamentals sections and checklists
  README.md
  ml-fundamentals/README.md
  ml-fundamentals/ml-fundamentals-checklist.md
  ml-fundamentals/ml-model-checklist.md
Labels: ml-fundamentals

#391 Feature/375 add pull request templates
  source-control/pull-request-templates/README.md
  source-control/pull-request-templates/azure-devops/azure-devops-bug-pr-template.md
  source-control/pull-request-templates/azure-devops/azure-devops-feature-pr-template.md
  source-control/pull-request-templates/azure-devops/azure-devops-template.md
  source-control/pull-request-templates/github/github-bug-pr-template.md
  source-control/pull-request-templates/github/github-feature-pr-template.md
  source-control/pull-request-templates/github/github-template.md
  source-control/pull-request-templates/images/azdo-template-list.png
  source-control/readme.md
Labels: code reviews

#401 replace grooming with refining
  SPRINT-STRUCTURE.md
  agile-development/backlog-management/readme.md
  agile-development/backlog-management/refinement/readme.md
Labels: agile

#408 Adjust engineering fundamentals links
  README.md
Labels: enhancement

#394 ML Testing
  .gitignore
  ml-fundamentals/README.md
  ml-fundamentals/ml-fundamentals-checklist.md
  ml-fundamentals/ml-testing.md
Labels: ml-fundamentals, testing

#407 Adjust automated testing syntax
  automated-testing/e2e-testing/testing-comparison.md
  automated-testing/readme.md
Labels: enhancement, testing

#412 Add integration testing section to automated testing
  automated-testing/integration-testing/images/bigBang.jpg
  automated-testing/integration-testing/images/bottomUp.jpg
  automated-testing/integration-testing/images/topDown.png
  automated-testing/integration-testing/readme.md
Labels: testing

#414 Remove customer specifics
  automated-testing/e2e-testing/case-studies/kroger-datascience.md
Labels: enhancement

#413 Add missing link in design reviews readme
  design-reviews/readme.md
Labels: design reviews, enhancement
