Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-03, with the labels that each got.

#160 Pull Requests Size Guidance
  code-reviews/readme.md
Labels: code reviews

#173 Added recipe content for async design reviews
  design-reviews/readme.md
  design-reviews/recipes/assets/async-design-reviews-sequence.png
  design-reviews/recipes/async-design-reviews.md
Labels: design reviews

#166 Add Design Review Milestone/Epic Recipe (Issue #130)
  design-reviews/readme.md
  design-reviews/recipes/milestone-epic-design-review-recipe.md
  design-reviews/recipes/milestone-epic-design-review-template.md
Labels: design reviews

#184 Add code review recipe for Markdown
  code-reviews/readme.md
  code-reviews/recipes/Markdown.md
Labels: code reviews

#157 Feature/155 specific git guidance
  CONTRIBUTING.md
Labels: source code

#198 Link from contributing to markdown and writing guidelines
  CONTRIBUTING.md
Labels: code reviews

#190 Adding tools section for reviewing PRs
  code-reviews/README.md
  code-reviews/tools.md
Labels: code reviews

#195 Obs: Adding section on Pitfalls/what to avoid
  README.md
  observability/pitfalls.md
  observability/readme.md
Labels: observability

#189 Adding good Engineering Feedback examples to support Engineering Feedback main page
  engineering-feedback/feedback-examples.md
  engineering-feedback/feedback-guidance.md
  engineering-feedback/readme.md
Labels: engineering feedback

#197 fix spelling mistakes and linguistic errors
  code-reviews/recipes/Python.md
Labels: code reviews

#202 201/broken links
  README.md
Labels: bug

#177 Clean up secrets guidance
  continuous-deployment/secrets-management/readme.md
  continuous-deployment/secrets-management/recipes/azure-devops/secrets-per-branch.md
  continuous-integration/credential-scanning/recipes/detect-secrets.md
  source-control/git.md
Labels: source code

#204 expanding metric overview in observability pillars
  observability/pillars.md
Labels: observability

#206 Update good practices when committing
  source-control/git.md
  source-control/readme.md
Labels: source code

#211 Fix broken links in the repository
  README.md
  SPRINT-STRUCTURE.md
  TECH-LEADS-CHECKLIST.md
  backlog-management/grooming/readme.md
  code-reviews/README.md
  code-reviews/recipes/Bash.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/Markdown.md
  code-reviews/recipes/Python.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/javascript-and-typescript.md
  source-control/readme.md
  test-first-development/unit-testing/readme.md
Labels: bug

#217 Add link to tools in guidance
  code-reviews/README.md
Labels: code reviews

#161 Added content for estimation in planning #58
  sprint-planning/estimation/readme.md
Labels: agile

#232 Grammar: change "Another words" to "In other words"
  backlog-management/minimal-slices.md
Labels: agile

#205 Adding initial set of recipes with links
  observability/readme.md
Labels: observability

#200 Add git LFS guidance
  source-control/git.md
Labels: source code

#212 Updated structure of observability pillar sections #100
  observability/pillars/logging.md
  observability/pillars/metrics.md
  observability/pillars/tracing.md
  observability/readme.md
Labels: observability

#236 Updates branch naming guidance
  source-control/git.md
Labels: source code

#183 Updated code review checklist for Terraform
  code-reviews/recipes/Terraform.md
Labels: code reviews

#241 Update tech leads code review checklist
  TECH-LEADS-CHECKLIST.md
Labels: code reviews

#247 Add missing samples to ts/js recipe
  code-reviews/recipes/javascript-and-typescript.md
Labels: code reviews

#246 Fixing minor typo from qualify to quality
  engineering-feedback/readme.md
Labels: engineering feedback

#245 Adding Java Code Review recipe
  code-reviews/recipes/Java.md
Labels: code reviews

#239 Add task level design review template to design reviews templates
  design-reviews/readme.md
  design-reviews/recipes/task-design-review-template.md
Labels: design reviews

#249 Adds design review engagement process recipe
  design-reviews/readme.md
  design-reviews/recipes/engagement-process.md
Labels: design reviews

#242 Engineering Feedback FAQ
  engineering-feedback/feedback-faq.md
  engineering-feedback/feedback-guidance.md
  engineering-feedback/readme.md
Labels: engineering feedback

#238 Tidy up the "structure of a sprint" document
  SPRINT-STRUCTURE.md
Labels: enhancement

#251 Updating Recipes for Code Analysis
  code-reviews/recipes/Bash.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/Java.md
  code-reviews/recipes/Markdown.md
  code-reviews/recipes/Python.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/javascript-and-typescript.md
Labels: code reviews

#226 Add initial security practices content
  security/README.md
Labels: security
