Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-07, with the labels that each got.

#321 Bash Code Review Recipe
  code-reviews/recipes/Bash.md
Labels: code reviews

#311 Added VS code git support reference to the tooling section.
  source-control/git-guidance/readme.md
Labels: source code

#308 Updated link to Test discussion
  SPRINT-STRUCTURE.md
Labels: bug

#303 E2E can be automatic or manual, fixing inconsistency
  automated-testing/readme.md
Labels: testing

#297 Adding reference to Terratest Abstractions that simplify testing
  code-reviews/recipes/Terraform.md
Labels: code reviews

#331 Replace scrum master with process lead
  SPRINT-STRUCTURE.md
  TECH-LEADS-CHECKLIST.md
  retrospectives/readme.md
  scrum-of-scrums/readme.md
  sprint-planning/readme.md
  stand-ups/readme.md
  team-agreements/definition-of-ready/readme.md
  team-agreements/working-agreements/readme.md
Labels: agile

#276 Expanding the content of the Pull Request Size Guidance
  code-reviews/pull-requests.md
Labels: code reviews

#326 Feature/ui testing guidlines
  automated-testing/ui-testing/readme.md
Labels: testing

#335 Add more guidance to test review
  code-reviews/process-guidance/reviewer-guidance.md
Labels: code reviews

#322 Add performance testing guidance
  automated-testing/performance-testing/readme.md
  automated-testing/readme.md
Labels: testing

#337 Updated Automated Testing readme to include link to the new UI testing content.
  automated-testing/readme.md
Labels: testing

#338 Adding additional improvements to the developer experience section
  developer-experience/readme.md
  developer-experience/recipes/cross-platform-tasks.md
  developer-experience/recipes/onboarding-guide-template.md
Labels: developer experience
