Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-02, with the labels that each got.

#87 Azsearch retro feedback
  TECH-LEADS-CHECKLIST.md
  backlog-management/external-feedback.md
  backlog-management/readme.md
  source-control/readme.md
  team-agreements/working-agreements/readme.md
Labels: design reviews

#93 Adds Review Process section and few minor edits
  pull-requests/code-reviews/readme.md
Labels: code reviews

#94 Update linting recommendations for TypeScript
  pull-requests/code-reviews/recipes/TypeScript.md
Labels: code reviews

#144 fix markdown style issues in source control section
  source-control/git.md
  source-control/readme.md
  source-control/versioning/readme.md
Labels: source code

#122 Observability - Include data collection techniques.
  observability/readme.md
Labels: observability

#148 Updating Readme in Code Reviews
  README.md
  SPRINT-STRUCTURE.md
  TECH-LEADS-CHECKLIST.md
  code-reviews/pull-request-template.md
  code-reviews/readme.md
  code-reviews/recipes/Bash.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/JavaScript.md
  code-reviews/recipes/Python.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/TypeScript.md
  pull-requests/code-reviews/readme.md
  pull-requests/pull-request-template.md
  pull-requests/readme.md
Labels: code reviews

#153 Standardize code review templates
  code-reviews/pull-request-template.md
  code-reviews/readme.md
  code-reviews/recipes/Bash.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/JavaScript.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/javascript-and-typescript.md
Labels: code reviews

#150 Feature/111 update python source code guidance
  code-reviews/recipes/Bash.md
  code-reviews/recipes/Python.md
Labels: code reviews

#147 Correlation identifier
  observability/correlation-id.md
  observability/readme.md
Labels: observability

#164 Obs/fix links: Fix broken links to Pillars.md
  observability/readme.md
Labels: observability

#159 Update C# code review guidelines
  code-reviews/recipes/CSharp.md
Labels: code reviews

#171 Update Engineering Feedback README.md (Issue #169)
  engineering-feedback/readme.md
Labels: engineering feedback
