Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-08, with the labels that each got.

#354 Add guidance for continuous deployment environments and GitHub workflows
  .gitignore
  continuous-deployment/readme.md
  continuous-deployment/recipes/github-workflows/assets/Workflow-Designs-Dependent-Workflows.png
  continuous-deployment/recipes/github-workflows/assets/Workflow-Designs-Independent-Workflows.png
  continuous-deployment/recipes/github-workflows/workflow-per-environment.md
Labels: CI/CD

#356 Documenting design decisions during an engagement: ADRs
  README.md
  design-reviews/decision-log/doc/adr/0001-record-architecture-decisions.md
  design-reviews/decision-log/doc/adr/0002-app-level-logging.md
  design-reviews/decision-log/readme.md
  design-reviews/readme.md
Labels: agile

#351 Fix typos and broken links throughout the repository
  CONTRIBUTING.md
  CSE.md
  SPRINT-STRUCTURE.md
  automated-testing/e2e-testing/readme.md
  automated-testing/e2e-testing/test_type_template2.md
  automated-testing/e2e-testing/testing-methods.md
  automated-testing/performance-testing/readme.md
  automated-testing/readme.md
  automated-testing/synthetic-monitoring-tests/readme.md
  automated-testing/templates/case-study-template.md
  automated-testing/templates/test_type_template.md
  automated-testing/ui-testing/readme.md
  automated-testing/unit-testing/readme.md
  code-reviews/process-guidance/reviewer-guidance.md
  code-reviews/recipes/Bash.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/Markdown.md
  code-reviews/recipes/javascript-and-typescript.md
  continuous-integration/readme.md
  design-reviews/readme.md
  design-reviews/recipes/engagement-process.md
  developer-experience/readme.md
  engineering-feedback/feedback-examples.md
  engineering-feedback/feedback-guidance.md
  observability/correlation-id.md
  observability/log-vs-metric.md
  observability/ml-observability.md
  observability/pillars/logging.md
  observability/pitfalls.md
  observability/readme.md
  scrum-of-scrums/readme.md
  security/README.md
  security/rules-of-engagement.md
  source-control/readme.md
  sprint-planning/readme.md
  stand-ups/readme.md
  team-agreements/working-agreements/readme.md
Labels: bug

#361 Add documentation for Trade Studies
  design-reviews/readme.md
  design-reviews/trade-studies/readme.md
  design-reviews/trade-studies/template.md
Labels: design reviews

#358 Revamping our Continuous Delivery Readme
  README.md
  SPRINT-STRUCTURE.md
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/RuntimeVariables.MD
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/examples/commit-example.yaml
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/examples/pr-example.yaml
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/AzDoExample.PNG
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/CommitFalse.PNG
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/CommitTrue.PNG
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/DevAWorkflow.png
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/DevBWorkflow.png
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/PRExample.PNG
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/PRTrue.PNG
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/images/workflow-diagram.png
  continuous-delivery/images/blue_green.png
  continuous-delivery/images/canary_release.png
  continuous-delivery/images/example_release_flow.png
  continuous-delivery/readme.md
  continuous-delivery/recipes/github-workflows/assets/Workflow-Designs-Dependent-Workflows.png
  continuous-delivery/recipes/github-workflows/assets/Workflow-Designs-Independent-Workflows.png
  continuous-delivery/recipes/github-workflows/workflow-per-environment.md
  continuous-delivery/secrets-management/readme.md
  continuous-delivery/secrets-management/recipes/azure-devops/secrets-per-branch.md
  continuous-deployment/readme.md
  continuous-integration/credential-scanning/readme.md
  source-control/secrets-management/readme.md
Labels: CI/CD

#367 Additions on ML model observability options
  observability/ml-observability.md
Labels: observability

#369 Commit message/PR title standardization guidance
  code-reviews/pull-requests.md
Labels: code reviews, source code

#336 Updates to readme.md to reflect latest changes
  .vscode/settings.json
  observability/readme.md
Labels: observability
