Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-12, with the labels that each got.

#435 Fix backlog grooming to backlog refinement
  agile-development/sprint-planning/readme.md
  agile-development/team-agreements/working-agreements/readme.md
  design-reviews/recipes/engagement-process.md
Labels: agile

#432 Added new sections on experimentation and agile project management
  ml-fundamentals/README.md
  ml-fundamentals/flow.png
  ml-fundamentals/ml-experimentation.md
  ml-fundamentals/ml-project-management.md
Labels: ml-fundamentals

#439 Fixed broken linting test
  automated-testing/readme.md
Labels: testing

#433 Merge minimal slices and minimalism rules
  agile-development/backlog-management/minimal-slices.md
  agile-development/team-agreements/minimalism-rules.md
  agile-development/team-agreements/readme.md
Labels: agile

#420 Remove CSE processes from recipes/engagement process
  design-reviews/recipes/engagement-process.md
Labels: enhancement

#438 Small fix - removing a duplicate part in the ml fundamentals readme.
  ml-fundamentals/README.md
Labels: ml-fundamentals
