Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-11, with the labels that each got.

#415 Add section on how to use git reflog to recover lost commits
  source-control/git-guidance/readme.md
Labels: source code

#398 Spelling fix
  design-reviews/decision-log/readme.md
  design-reviews/readme.md
  design-reviews/recipes/high-level-design-recipe.md
  design-reviews/recipes/technical-spike.md
  design-reviews/trade-studies/readme.md
  developer-experience/readme.md
  developer-experience/recipes/cross-platform-tasks.md
  developer-experience/recipes/onboarding-guide-template.md
  engineering-feedback/feedback-guidance.md
  observability/ml-observability.md
  observability/pillars/metrics.md
  observability/pillars/tracing.md
  observability/pitfalls.md
  source-control/contributing/naming-branches.md
  source-control/git-guidance/readme.md
Labels: enhancement

#406 Updating C# section
  code-reviews/recipes/CSharp.md
Labels: code reviews

#424 feature/Add behave test quick start link for integration testing
  automated-testing/integration-testing/readme.md
Labels: testing

#390 Added "how to measure code review process"
  code-reviews/process-guidance/README.md
Labels: code reviews

#434 Unit testing: Fixing minor grammatical errors
  automated-testing/unit-testing/authoring_example.md
  automated-testing/unit-testing/mocking.md
  automated-testing/unit-testing/readme.md
  automated-testing/unit-testing/tdd_example.md
Labels: testing

#425 Add more info on integration testing to tech lead checklist
  TECH-LEADS-CHECKLIST.md
Labels: testing

#423 Update the agile development contents in sprint planning and backlog refinement.
  agile-development/backlog-management/refinement/readme.md
  agile-development/sprint-planning/readme.md
Labels: agile

#399 Fix markdown of the runtimevariables.md section
  continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/RuntimeVariables.MD
Labels: CI/CD

#430 Smoke tests
  automated-testing/readme.md
  automated-testing/smoke-testing/readme.md
Labels: testing

#431 Fault Injection testing
  automated-testing/fault-injection-testing/readme.md
  automated-testing/readme.md
Labels: testing
