Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-05, with the labels that each got.

#263 Add mixed hosted environment guidance
  source-control/readme.md
Labels: source code

#295 Redisign the Q&A section
  code-reviews/README.md
  code-reviews/faq.md
Labels: code reviews

#286 added Readme for E2E, and Gauge Framework recipe
  automated-testing/e2e-testing/case-studies/kroger-datascience.md
  automated-testing/e2e-testing/images/New-Logo-Katalon-Studio.png
  automated-testing/e2e-testing/images/TestCraft-logo.png
  automated-testing/e2e-testing/images/e2e-blocks.png
  automated-testing/e2e-testing/images/e2e-testing.png
  automated-testing/e2e-testing/images/gauge.jpg
  automated-testing/e2e-testing/images/horizontal-e2e-testing.png
  automated-testing/e2e-testing/images/images.pptx
  automated-testing/e2e-testing/images/ranorex-studio2.png
  automated-testing/e2e-testing/images/robot.jpg
  automated-testing/e2e-testing/images/testing-pyramid.png
  automated-testing/e2e-testing/images/vertical-e2e-testing.png
  automated-testing/e2e-testing/readme.md
  automated-testing/e2e-testing/recipes/gauge-framework/gauge-framework.md
  automated-testing/e2e-testing/test_type_template2.md
  automated-testing/e2e-testing/testing-comparison.md
  automated-testing/e2e-testing/testing-methods.md
  automated-testing/readme.md
  automated-testing/templates/case-study-template.md
  automated-testing/templates/test_type_template.md
Labels: testing

#293 Add recipe for AppInsights-on-premises
  observability/readme.md
Labels: observability

#294 content on scrum-of-scrums
  scrum-of-scrums/readme.md
Labels: agile

#300 Update working agreement
  team-agreements/working-agreements/readme.md
Labels: agile

#299 update definition of done
  team-agreements/definition-of-done/readme.md
Labels: agile

#268 Observability: Creating alert policies
  observability/alerting.md
Labels: observability

#292 observability in ml, ready for review
  observability/ml-observability.md
Labels: observability

#281 Add security rules of engagement
  security/README.md
  security/rules-of-engagement.md
Labels: security

#309 Add more examples of "Ready" + Add docs for creating issue templates
  team-agreements/definition-of-ready/readme.md
Labels: agile
