Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-09, with the labels that each got.

#368 remove CSE wiki reference
  agile-development/team-agreements/working-agreements/readme.md
Labels: agile

#359 Added Load Testing Section
  automated-testing/performance-testing/load-testing.md
  automated-testing/performance-testing/readme.md
Labels: testing

#364 update links on main page
  README.md
Labels: bug

#362 Add basic git information
  SPRINT-STRUCTURE.md
  source-control/contributing/merge-strategies.md
  source-control/contributing/naming-branches.md
  source-control/contributing/readme.md
  source-control/feature-branching/readme.md
  source-control/git-guidance/readme.md
  source-control/readme.md
Labels: source code

#370 Add Unit Testing Guidelines
  .markdownlintrc
  automated-testing/unit-testing/authoring_example.md
  automated-testing/unit-testing/mocking.md
  automated-testing/unit-testing/readme.md
  automated-testing/unit-testing/tdd_example.md
  automated-testing/unit-testing/why-unit-tests.md
Labels: testing

#383 Tiny change to README
  README.md
Labels: enhancement

#380 Added code review recipes for Terraform
  code-reviews/recipes/Terraform.md
Labels: code reviews

#374 Included time zone considerations and tips, moved the parking lot def…
  agile-development/stand-ups/readme.md
Labels: agile

#304 Design Reviews: Initial diagrams and ideas on high level design recipe
  design-reviews/readme.md
  design-reviews/recipes/assets/high-level-box-diagram.png
  design-reviews/recipes/assets/high-level-sequence-diagram.png
  design-reviews/recipes/assets/high-level-system-diagram.png
  design-reviews/recipes/high-level-design-recipe.md
  design-reviews/recipes/milestone-epic-design-review-recipe.md
Labels: design reviews

#323 Created Technical Spike Documentation
  design-reviews/readme.md
  design-reviews/recipes/technical-spike.md
Labels: design reviews
