Repository microsoft/code-with-engineering-playbook, pull requests merged in 2020-04, with the labels that each got.

#260 Restructure Code Review
  code-reviews/README.md
  code-reviews/evidence-and-measures/README.md
  code-reviews/evidence-and-measures/branch-policy.md
  code-reviews/process-guidance/README.md
  code-reviews/process-guidance/author-guidance.md
  code-reviews/process-guidance/customize-ado.md
  code-reviews/process-guidance/reviewer-guidance.md
  code-reviews/pull-requests.md
  code-reviews/recipes/README.md
Labels: code reviews

#265 Fix links for code recipes
  code-reviews/recipes/README.md
Labels: code reviews

#258 Feature/114 verify go code review recipe
  code-reviews/recipes/Go.md
Labels: code reviews

#234 Changes to observability section for Tech leads checklist
  TECH-LEADS-CHECKLIST.md
Labels: observability

#235 Continuous Integration Baseline Principles
  continuous-integration/readme.md
Labels: CI/CD

#214 Feature: 59 - added details about definition of ready
  team-agreements/definition-of-ready/readme.md
Labels: agile

#277 Add link to java code review recipe
  code-reviews/recipes/README.md
Labels: code reviews

#262 Restructures Source Code section outline
  CONTRIBUTING.md
  SPRINT-STRUCTURE.md
  TECH-LEADS-CHECKLIST.md
  source-control/contributing/readme.md
  source-control/git-guidance/readme.md
  source-control/git.md
  source-control/readme.md
  source-control/secrets-management/readme.md
Labels: source code

#244 Restructuring obs/readme.md
  observability/readme.md
Labels: observability

#280 Add feature or story level design review template to existing design review templates
  design-reviews/recipes/feature-story-design-review-template.md
Labels: design reviews

#287 Adding initial testing file structure
  README.md
  TECH-LEADS-CHECKLIST.md
  automated-testing/integration-testing/readme.md
  automated-testing/readme.md
  automated-testing/unit-testing/readme.md
  continuous-integration/CICD.md
Labels: testing

#237 DOC: updated stand-up content according to scrum guide 2017(latest ve…
  stand-ups/readme.md
Labels: agile

#267 Sprint planning content v1
  sprint-planning/readme.md
Labels: agile
