Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-04, with the labels that each got.

#381 Initialize guidance for dev containers
  developer-experience/devcontainers/readme.md
Labels: developer experience

#589 add link check to markdown recipe
  .github/workflows/markdownlint.yml
  .markdownlinkcheck.json
  code-reviews/recipes/Markdown.md
Labels: code reviews

#605 Add observability recipe for trace context propagation
  observability/readme.md
Labels: observability

#567 Update Observability readme
  observability/best-practices.md
  observability/observability-as-code.md
  observability/observability-pipelines.md
  observability/readme.md
  observability/recipes-observability.md
Labels: observability

#604 Add new Documentation section to the Playbook
  documentation/best-practices/automation.md
  documentation/best-practices/establish-and-manage.md
  documentation/best-practices/good-documentation.md
  documentation/guidance/engineering-feedback.md
  documentation/guidance/project-and-repositories.md
  documentation/guidance/pull-requests.md
  documentation/readme.md
  documentation/recipes/sync-wiki-between-repos.md
  documentation/tools/automation.md
  documentation/tools/images/docs-checks.png
  documentation/tools/integrations.md
  documentation/tools/languages.md
  documentation/tools/wikis.md
Labels: documentation

#579 Add new monitoring pillar: Profiling
  docs/observability/images/flame.png
  docs/observability/images/pprof-dot.png
  docs/observability/pillars/profiling.md
  docs/observability/profiling.md
  docs/observability/readme.md
Labels: observability

#615 Feature/fix broken links
  docs/automated-testing/integration-testing/readme.md
  docs/automated-testing/tech-specific-samples/blobstorage-unit-tests/readme.md
  docs/automated-testing/templates/test_type_template.md
  docs/code-reviews/README.md
  docs/code-reviews/process-guidance/reviewer-guidance.md
  docs/code-reviews/pull-requests.md
  docs/code-reviews/recipes/javascript-and-typescript.md
  docs/continuous-delivery/secrets-management/readme.md
  docs/continuous-integration/readme.md
  docs/design-reviews/decision-log/doc/adr/0002-app-level-logging.md
  docs/design-reviews/recipes/milestone-epic-design-review-template.md
  docs/developer-experience/readme.md
  docs/developer-experience/recipes/cross-platform-tasks.md
  docs/documentation/tools/wikis.md
  docs/ml-fundamentals/ml-experimentation.md
  docs/ml-fundamentals/ml-feasibility-study.md
  docs/ml-fundamentals/ml-fundamentals-checklist.md
  docs/ml-fundamentals/ml-model-checklist.md
  docs/ml-fundamentals/ml-proposed-process.md
  docs/observability/best-practices.md
  docs/observability/observability-pipelines.md
  docs/observability/pillars/dashboard.md
  docs/observability/pillars/profiling.md
  docs/observability/profiling.md
  docs/observability/readme.md
  docs/reliability/README.md
  docs/security/README.md
Labels: general

#614 fixes security issue with kramdown
  Gemfile
  Gemfile.lock
Labels: bug, dependencies
