Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-09, with the labels that each got.

#697 Propose to move microservices to facets of Observability
  docs/observability/README.md
Labels: general

#702 Adding dashboard templates for Grafana with Azure Monitor as Data Source
  docs/observability/pillars/dashboard.md
Labels: observability

#699 Feature/698 Machine Learning and Azure ML Profiling
  docs/machine-learning/README.md
  docs/machine-learning/ml-profiling.md
Labels: ml-fundamentals

#706 Recommend .NET Analyzers over FxCop analyzers for .NET
  docs/code-reviews/recipes/csharp.md
Labels: bug, code reviews

#711 Add MKDocs recipe to Documentation section
  docs/documentation/README.md
  docs/documentation/recipes/static-website-with-mkdocs.md
Labels: documentation

#662 Add document for automated tests in Power Platform using Locust
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/README.md
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/images/test-flow.drawio
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/images/test-flow.png
Labels: testing

#686 Updated continues delivery doc
  docs/continuous-delivery/README.md
Labels: CI/CD

#709 Initial content for privacy fundamentals
  docs/privacy/README.md
  docs/privacy/data-handling.md
  docs/privacy/privacy-frameworks.md
Labels: privacy

#707 Add "Work items" documentation guidance to Documentation section
  docs/documentation/README.md
  docs/documentation/guidance/images/agile-artifacts.png
  docs/documentation/guidance/images/scrum-artifacts.png
  docs/documentation/guidance/work-items.md
Labels: documentation

#703 Added the diagnostics tools in the observability pillar.
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/README.md
  docs/observability/README.md
  docs/observability/diagnostic-tools.md
Labels: observability

#693 Add guide to create python scripts from Jupyter notebooks in the Pipeline
  docs/continuous-integration/ci-in-datascience/working-with-notebooks/README.md
  docs/continuous-integration/ci-in-datascience/working-with-notebooks/assets/repository-properties.png
Labels: CI/CD, Data Science

#637 docs: Add Memory ADR and Trade Studies example
  docs/design-reviews/decision-log/examples/memory/Architecture/Data-Model.md
  docs/design-reviews/decision-log/examples/memory/Decision-Log.md
  docs/design-reviews/decision-log/examples/memory/Deployment/Environments.md
  docs/design-reviews/decision-log/examples/memory/README.md
  docs/design-reviews/decision-log/examples/memory/Trade-Studies/GitOps.md
Labels: design reviews

#712 move decision-logs examples back into the design tree
  docs/design/design-reviews/decision-log/examples/memory/Architecture/Data-Model.md
  docs/design/design-reviews/decision-log/examples/memory/Decision-Log.md
  docs/design/design-reviews/decision-log/examples/memory/Deployment/Environments.md
  docs/design/design-reviews/decision-log/examples/memory/README.md
  docs/design/design-reviews/decision-log/examples/memory/Trade-Studies/GitOps.md
Labels: design reviews

#704 - adds installation steps for windows
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets.md
Labels: CI/CD
