Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-03, with the labels that each got.

#536 [Issue 493] Add AzDO PowerBI report as Observability recipe
  observability/readme.md
Labels: documentation, observability

#539 Add example of Azure monitor setup with Terraform
  observability/readme.md
Labels: observability

#534 DevEx - Working with local CI
  developer-experience/recipes/execute-local-pipeline-with-docker.md
Labels: developer experience

#456 Adding shadow testing documentation
  automated-testing/readme.md
  automated-testing/shadow-testing/images/diffy-shadow-testing.png
  automated-testing/shadow-testing/images/shadow-testing.png
  automated-testing/shadow-testing/readme.md
Labels: testing

#482 Add Git Pluralsight links
  source-control/readme.md
Labels: source code

#531 RTT Programming and Virtual Collaboration
  agile-development/README.md
  agile-development/collaboration/PTTdiagram.PNG
  agile-development/collaboration/Virtual_Collaboration.md
Labels: agile

#543 Update Observability README Recipes section with Azure-Samples link
  observability/readme.md
Labels: observability

#538 Added "Code review for Azure pipelines YAML files"
  code-reviews/recipes/README.md
  code-reviews/recipes/azure-pipelines-yaml.md
  code-reviews/recipes/images/authorization_issue_due_to_initialize_time.png
  code-reviews/recipes/images/key-concepts-overview.png
Labels: code reviews

#547 fix(docs): rephrase main branch in checklist
  ENG-FUNDAMENTALS-CHECKLIST.md
Labels: source code

#527 Automated Tests with Azure blob storage using Azurite
  automated-testing/readme.md
  automated-testing/tech-specific-samples/blobstorage-unit-tests/images/azure_pipeline.png
  automated-testing/tech-specific-samples/blobstorage-unit-tests/images/blob_storage_connection.png
  automated-testing/tech-specific-samples/blobstorage-unit-tests/images/blob_storage_connection_attach.png
  automated-testing/tech-specific-samples/blobstorage-unit-tests/images/http_local_blob_storage.png
  automated-testing/tech-specific-samples/blobstorage-unit-tests/readme.md
Labels: testing

#522 Adding Kubernetes Dashboard to the Observability Tools Section
  observability/tools/KubernetesDashboards.md
  observability/tools/OpenTelemetry.md
  observability/tools/readme.md
Labels: observability

#553 Removing TODOs from the playbook
  .gitignore
  ENG-FUNDAMENTALS-CHECKLIST.md
  agile-development/backlog-management/refinement/readme.md
  automated-testing/e2e-testing/test_type_template2.md
  developer-experience/readme.md
Labels: agile, developer experience, general, security

#541 Add recommendations for tooling and systems in multiple sections, add a new reliability section .
  README.md
  continuous-delivery/readme.md
  data-fundamentals/README.md
  observability/readme.md
  observability/tools/readme.md
  reliability/README.md
  security/README.md
Labels: CI/CD, observability

#557 Add links and make wording more consistent in Engineer Fundamentals Checklist
  ENG-FUNDAMENTALS-CHECKLIST.md
Labels: general

#556 Change playbook title for GitHub pages
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  _config.yml
  favicon.ico
Labels: general

#548 Fix markdown issues in code review templates
  .vscode/settings.json
  code-reviews/recipes/Bash.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Go.md
  code-reviews/recipes/Java.md
  code-reviews/recipes/Markdown.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/azure-pipelines-yaml.md
Labels: code reviews

#544 Create ml-problem-formulation-envisioning.md
  ml-fundamentals/README.md
  ml-fundamentals/ml-problem-formulation-envisioning.md
Labels: ml-fundamentals

#558 update contributing
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  _config.yml
Labels: general

#559 adds how to add pairing field in ado cards
  agile-development/collaboration/add-pairing-field-azure-devops-cards.md
  agile-development/collaboration/images/azure-devops-add-field-to-card.png
  agile-development/collaboration/images/azure-devops-add-field-to-user-story.png
  agile-development/collaboration/images/azure-devops-board-settings.png
  agile-development/collaboration/images/azure-devops-boards.png
  agile-development/collaboration/images/azure-devops-change-process.png
  agile-development/collaboration/images/azure-devops-change-project-process.png
  agile-development/collaboration/images/azure-devops-create-inherited-process.png
  agile-development/collaboration/images/azure-devops-new-field.png
  agile-development/collaboration/images/azure-devops-organization-settings.png
  agile-development/collaboration/images/azure-devops-pairing-field.png
  agile-development/collaboration/images/azure-devops-pairing-process.png
  agile-development/collaboration/images/azure-devops-process-customization.png
  agile-development/collaboration/images/azure-devops-project-configuration.png
  agile-development/collaboration/images/azure-devops-project-settings.png
  agile-development/collaboration/images/azure-devops-user-story-process.png
  agile-development/collaboration/readme.md
Labels: agile

#510 feature/469-pr-template-consolidation
  CONTRIBUTING.md
  code-reviews/README.md
  code-reviews/pull-request-template.md
  code-reviews/pull-requests.md
  observability/tools/loki.md
  source-control/pull-request-templates/README.md
  source-control/pull-request-templates/azure-devops/azure-devops-bug-pr-template.md
  source-control/pull-request-templates/azure-devops/azure-devops-feature-pr-template.md
  source-control/pull-request-templates/azure-devops/azure-devops-template.md
  source-control/pull-request-templates/github/github-bug-pr-template.md
  source-control/pull-request-templates/github/github-feature-pr-template.md
  source-control/pull-request-templates/github/github-template.md
  source-control/pull-request-templates/pull_request_template.md
Labels: code reviews, source code

#566 Feature/isolation
  data-fundamentals/README.md
Labels: data-fundamentals

#582 Additions to author and reviewer guidance, and language code review checklists
  code-reviews/process-guidance/author-guidance.md
  code-reviews/process-guidance/reviewer-guidance.md
  code-reviews/recipes/CSharp.md
  code-reviews/recipes/Markdown.md
  code-reviews/recipes/Terraform.md
  code-reviews/recipes/azure-pipelines-yaml.md
  code-reviews/recipes/javascript-and-typescript.md
Labels: code reviews

#584 Added AzDO PR Extension for VS Code
  code-reviews/tools.md
Labels: code reviews

#574 Additions to markdown and markdownlint
  code-reviews/recipes/Markdown.md
Labels: code reviews

#588 Move PR templates to Code reviews
  CONTRIBUTING.md
  code-reviews/README.md
  code-reviews/pull-requests.md
  code-reviews/pull_request_template.md
  source-control/pull-request-templates/README.md
  source-control/pull-request-templates/images/azdo-template-list.png
  source-control/readme.md
Labels: code reviews, source code

#578 Update detect-secrets.md
  continuous-integration/credential-scanning/recipes/detect-secrets.md
Labels: CI/CD

#572 Adding Prometheus to the observability tools section
  observability/tools/Prometheus.md
  observability/tools/readme.md
Labels: observability

#586 Added explanations of Git LFS and VFS in new .md file
  source-control/git-guidance/git-lfs-and-vfs.md
  source-control/git-guidance/readme.md
Labels: source code

#577 Cleaned up git guidance and added basic information
  source-control/git-guidance/readme.md
Labels: source code
