Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-01, with the labels that each got.

#450 Add observability content to DevEx
  developer-experience/readme.md
Labels: developer experience, enhancement

#446 Added ML feasibility doc to ml fundamentals, updated ml fundamentals readme with link to feasibility doc
  ml-fundamentals/README.md
  ml-fundamentals/ml-feasibility-study.md
Labels: ml-fundamentals

#449 Add data/dataops fundamentals
  README.md
  data-fundamentals/CI_CD_process.png
  data-fundamentals/README.md
Labels: data-fundamentals

#452 Update python doc
  code-reviews/recipes/Python.md
Labels: code reviews

#376 Observability as code
  observability/readme.md
Labels: observability

#458 Added ml process guidance to ml fundamentals, updated ml fundamentals readme with link to ml process guidance
  ml-fundamentals/README.md
  ml-fundamentals/ml-proposed-process.md
Labels: ml-fundamentals

#445 add link to plain English
  code-reviews/recipes/Markdown.md
Labels: code reviews

#418 Included link to pair programming sessions
  agile-development/collaboration/readme.md
Labels: agile

#447 Adding documentation regarding dependent service monitoring
  observability/alerting.md
  observability/pillars/logging.md
  observability/pillars/metrics.md
  observability/readme.md
Labels: observability

#463 quick: fix image link
  data-fundamentals/README.md
Labels: data-fundamentals

#483 Rename remaining instances of grooming
  ENG-FUNDAMENTALS-CHECKLIST.md
  agile-development/backlog-management/refinement/readme.md
Labels: general

#487 Updates the design review readme.md to reference a decision log.
  design-reviews/decision-log/doc/decision-log.md
  design-reviews/decision-log/readme.md
Labels: design reviews

#461 add: adding loki details
  observability/pillars/logging.md
  observability/tools/loki.md
Labels: observability
