Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-06, with the labels that each got.

#652 Inclusive Code Reviews
  docs/code-reviews/inclusion-in-code-review.md
  docs/code-reviews/process-guidance/README.md
Labels: code reviews

#643 remove internal guidance from public contributing.md page
  CONTRIBUTING.md
Labels: general

#658 Fixing code snippet that did not render correctly
  docs/developer-experience/devcontainers.md
Labels: bug

#650 Add new item to code review FAQ comparing code reviews to pull requests
  docs/code-reviews/faq.md
Labels: code reviews

#657 Add info on code and REST API documentation
  docs/documentation/README.md
  docs/documentation/guidance/code.md
  docs/documentation/guidance/rest-apis.md
Labels: documentation

#661 Minor appearance and bug fixes on machine learning fundamentals
  README.md
  docs/index.md
  docs/machine-learning/README.md
  docs/machine-learning/images/flow.png
  docs/machine-learning/ml-experimentation.md
  docs/machine-learning/ml-feasibility-study.md
  docs/machine-learning/ml-fundamentals-checklist.md
  docs/machine-learning/ml-model-checklist.md
  docs/machine-learning/ml-problem-formulation-envisioning.md
  docs/machine-learning/ml-project-management.md
  docs/machine-learning/ml-proposed-process.md
  docs/machine-learning/ml-testing.md
  docs/machine-learning/responsible-ai.md
Labels: ml-fundamentals

#511 add: unit testing on power platform
  docs/automated-testing/README.md
  docs/automated-testing/unit-testing/custom-connector.md
Labels: testing

#670 [FIX] Configuration Validation Refactor Headers Structure
  docs/continuous-integration/README.md
Labels: CI/CD, bug

#666 Add NBomber to the list of load testing frameworks
  docs/automated-testing/performance-testing/load-testing.md
Labels: testing

#664 Feature/663 Consumer-driven Contract Testing
  docs/automated-testing/README.md
  docs/automated-testing/cdc-testing/README.md
  docs/automated-testing/cdc-testing/images/cdc-testing.png
  docs/automated-testing/cdc-testing/images/cdc-vs-e2e.png
  docs/automated-testing/cdc-testing/images/images.pptx
  docs/automated-testing/cdc-testing/images/testing-pyramid.png
Labels: testing

#674 Moved DevTest container example to testing tech-specific-samples
  docs/automated-testing/README.md
  docs/automated-testing/tech-specific-samples/azdo-container-dev-test-release/automated-testing/tech-specific-samples/container-testing/azdo-container-dev-test-release/README.md
  docs/developer-experience/devcontainers.md
Labels: bug, testing

#682 feature: add local linting
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: bug, dependencies, general

#678 feature: add design fundamental to playbook.
  .projector/workItemTemplates/engineering-fundamentals.yml
  README.md
  docs/ENG-FUNDAMENTALS-CHECKLIST.md
  docs/SPRINT-STRUCTURE.md
  docs/agile-development/team-agreements/working-agreements.md
  docs/design/README.md
  docs/design/design-patterns/README.md
  docs/design/design-patterns/data-heavy-design-guidance/README.md
  docs/design/design-patterns/data-heavy-design-guidance/images/CI_CD_process.png
  docs/design/design-reviews/README.md
  docs/design/design-reviews/decision-log/README.md
  docs/design/design-reviews/decision-log/doc/adr/0001-record-architecture-decisions.md
  docs/design/design-reviews/decision-log/doc/adr/0002-app-level-logging.md
  docs/design/design-reviews/decision-log/doc/decision-log.md
  docs/design/design-reviews/recipes/async-design-reviews.md
  docs/design/design-reviews/recipes/engagement-process.md
  docs/design/design-reviews/recipes/feature-story-design-review-template.md
  docs/design/design-reviews/recipes/high-level-design-recipe.md
  docs/design/design-reviews/recipes/images/async-design-reviews-sequence.png
  docs/design/design-reviews/recipes/images/high-level-box-diagram.png
  docs/design/design-reviews/recipes/images/high-level-sequence-diagram.png
  docs/design/design-reviews/recipes/images/high-level-system-diagram.png
  docs/design/design-reviews/recipes/milestone-epic-design-review-recipe.md
  docs/design/design-reviews/recipes/milestone-epic-design-review-template.md
  docs/design/design-reviews/recipes/task-design-review-template.md
  docs/design/design-reviews/recipes/technical-spike.md
  docs/design/design-reviews/trade-studies/README.md
  docs/design/design-reviews/trade-studies/template.md
  docs/documentation/best-practices/establish-and-manage.md
  docs/documentation/guidance/project-and-repositories.md
  docs/index.md
  docs/source-control/README.md
Labels: design patterns, design reviews
