Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-07, with the labels that each got.

#671 Describe an approach to use integration tests instead of unit tests
  docs/automated-testing/unit-testing/README.md
Labels: testing

#685 initial add of proposed non-func-req'ments guide
  docs/ENG-FUNDAMENTALS-CHECKLIST.md
  docs/SPRINT-STRUCTURE.md
  docs/design/README.md
  docs/design/design-patterns/non-functional-requirements-capture-guide.md
  docs/design/design-reviews/recipes/engagement-process.md
  docs/observability/README.md
  docs/security/README.md
Labels: design patterns

#642 Add REST API Fundamentals to playbook
  docs/design/design-patterns/README.md
  docs/design/design-patterns/rest-api-design-guidance/README.md
Labels: general

#691 Creating API contract with Design-first or Code-first Approach
  docs/design/design-patterns/rest-api-design-guidance/README.md
Labels: design patterns

#688 added engineering feasibility spikes
  docs/design/design-reviews/decision-log/README.md
  docs/design/design-reviews/recipes/engagement-process.md
  docs/design/design-reviews/recipes/engineering-feasibility-spikes.md
  docs/design/design-reviews/recipes/images/engineering-feasibility-spike-feedback-loop.png
  docs/design/design-reviews/recipes/technical-spike.md
Labels: design reviews
