Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-05, with the labels that each got.

#500 add: DevTest pattern for container
  automated-testing/container-testing/azdo-container-dev-test-release.md
Labels: testing

#632 Add observability recipe for trace context propagation
  docs/observability/recipes-observability.md
Labels: observability

#436 Add DevSecOps documentation and guidance
  docs/ENG-FUNDAMENTALS-CHECKLIST.md
  docs/continuous-delivery/secrets-management/README.md
  docs/continuous-integration/README.md
  docs/continuous-integration/credential-scanning/README.md
  docs/continuous-integration/dev-sec-ops/README.md
  docs/continuous-integration/dev-sec-ops/dependency-container-scanning/dependency_container_scanning.md
  docs/continuous-integration/dev-sec-ops/penetration-testing/penetration_testing.md
  docs/continuous-integration/dev-sec-ops/secret-management/credential_scanning.md
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets-ado.md
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets.md
  docs/continuous-integration/dev-sec-ops/secret-management/secrets_rotation.md
  docs/continuous-integration/dev-sec-ops/static-code-analysis/static_code_analysis.md
  docs/security/README.md
  docs/source-control/secrets-management.md
Labels: CI/CD, security

#636 docs: Add support for projector work item templates
  .projector/workItemTemplates/engineering-fundamentals.yml
Labels: general

#647 updated broken link
  docs/continuous-integration/README.md
Labels: CI/CD

#639 Configuration Validation section
  docs/continuous-integration/README.md
Labels: CI/CD

#629 Adding info on responsible AI (Issue 628)
  docs/ml-fundamentals/README.md
  docs/ml-fundamentals/ml-fundamentals-checklist.md
  docs/ml-fundamentals/ml-model-checklist.md
  docs/ml-fundamentals/ml-proposed-process.md
  docs/ml-fundamentals/responsible-ai.md
Labels: ml-fundamentals
