Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-11, with the labels that each got.

#741 Evolved trade study and sprint spike templates
  docs/design/design-reviews/recipes/sprint-spike-template.md
  docs/design/design-reviews/trade-studies/template.md
  docs/observability/tools/loki.md
Labels: design reviews

#731 Updating contributing.md
  CONTRIBUTING.md
  docs/code-reviews/pull-request-template/pull-request-template.md
Labels: general

#734 initial commit for ui-ux section
  docs/code-reviews/pull-request-template/pull-request-template.md
  docs/ui-ux/README.md
  docs/ui-ux/accessibility.md
  docs/ui-ux/design-document-template.md
  docs/ui-ux/maintainability.md
  docs/ui-ux/recommended-technologies.md
  docs/ui-ux/stability.md
  docs/ui-ux/usability.md
Labels: design reviews, user interface

#748 rename section titles to render better on the site
  docs/user-interface-engineering/README.md
  docs/user-interface-engineering/accessibility.md
  docs/user-interface-engineering/design-document-template.md
  docs/user-interface-engineering/maintainability.md
  docs/user-interface-engineering/recommended-technologies.md
  docs/user-interface-engineering/stability.md
  docs/user-interface-engineering/usability.md
Labels: user interface

#752 added client dev inner loop
  docs/developer-experience/README.md
  docs/developer-experience/recipes/client-app-inner-loop.md
Labels: developer experience

#753 Client Dev Inner Loop - Fake Services Example
  docs/developer-experience/client-app-inner-loop.md
  docs/developer-experience/recipes/fake-services-inner-loop.md
Labels: developer experience

#760 fix links and md lint errors - and update contributing
  .markdownlinkcheck.json
  CONTRIBUTING.md
  docs/code-reviews/recipes/javascript-and-typescript.md
  docs/developer-experience/recipes/client-app-inner-loop.md
  docs/privacy/data-handling.md
Labels: general

#759 Fixes detect-secrets AzDO snippet
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets-ado.md
  docs/developer-experience/recipes/client-app-inner-loop.md
Labels: bug, CI/CD, security
