Repository microsoft/code-with-engineering-playbook, pull requests merged in 2021-02, with the labels that each got.

#501 Guidance for Interactive rebase for removing commit
  source-control/git-guidance/readme.md
Labels: source code

#485 Example of usage YELP detect-secrets with ADO pipeline
  continuous-integration/credential-scanning/readme.md
  continuous-integration/credential-scanning/recipes/detect-secrets-ado.md
Labels: CI/CD

#505 Added pre-commit to catch markdownlint errors earlier
  .pre-commit-config.yaml
Labels: general

#503 502 - Adding "Agility Team Manifesto" and methods md
  agile-development/team-agreements/team-manifesto/readme.md
Labels: agile

#355 Adding dashboard section to pillars of observability
  automated-testing/performance-testing/load-testing.md
  observability/pillars/dashboard.md
  observability/readme.md
Labels: observability

#508 Observability as Code Scenarios
  observability/readme.md
Labels: observability

#506 Improves the main Code Reviews read me to add visibility of contents
  code-reviews/README.md
Labels: code reviews

#507 Guidance for Open Telemetry Usage
  observability/tools/OpenTelemetry.md
Labels: observability

#504 Adding Delivery Pipeline Observability
  observability/readme.md
Labels: observability

#514 Starting page for Tools section and minor changes
  observability/readme.md
  observability/tools/readme.md
Labels: observability

#520 Small changes to existing content based on feedback
  ml-fundamentals/README.md
  ml-fundamentals/flow.png
  ml-fundamentals/ml-fundamentals-checklist.md
  ml-fundamentals/ml-proposed-process.md
Labels: ml-fundamentals

#529 Update ENG-FUNDAMENTALS-CHECKLIST.md
  ENG-FUNDAMENTALS-CHECKLIST.md
  observability/tools/OpenTelemetry.md
Labels: source code

#455 Added self-hosting agent recommendation to ui testing doc
  automated-testing/ui-testing/readme.md
Labels: testing

#525 Pull Request Description
  code-reviews/README.md
  code-reviews/pull-requests.md
Labels: code reviews

#530 Add optional social question to stand-up
  agile-development/stand-ups/readme.md
  agile-development/stand-ups/social-question/readme.md
Labels: agile
