Repository microsoft/code-with-engineering-playbook, pull requests merged in 2022-05, with the labels that each got.

#821 Add preferred diagram tooling page and reference (#619)
  docs/design/design-reviews/recipes/engagement-process.md
  docs/design/design-reviews/recipes/preferred-diagram-tooling.md
Labels: design reviews, design patterns

#826 Updated ml checklist to explicitly include drift and data quality monitoring
  .markdownlinkcheck.json
  CONTRIBUTING.md
  docs/machine-learning/ml-model-checklist.md
Labels: Data Science

#831 Fixed typo for "as needed"
  docs/ENG-FUNDAMENTALS-CHECKLIST.md
Labels: documentation

#835 Add section on integrating design reviews into sprint process
  docs/design/design-reviews/recipes/engagement-process.md
Labels: agile

#836 Add section on where to land design review docs
  docs/design/design-reviews/README.md
Labels: agile

#827 Cross referenced data exploration and ml feasibility study, added data quality assessment to data exploration objectives
  docs/machine-learning/ml-data-exploration.md
  docs/machine-learning/ml-feasibility-study.md
Labels: Data Science

#837 Fix GitHub casing to be correct
  README.md
  docs/agile-development/advanced-topics/collaboration/teaming-up.md
  docs/agile-development/advanced-topics/effective-organization/delivery-plan.md
  docs/agile-development/advanced-topics/team-agreements/definition-of-ready.md
  docs/continuous-delivery/devops-provider-recipes/github-actions/runtime-variables/runtime-variables.md
  docs/continuous-integration/dev-sec-ops/secret-management/credential_scanning.md
  docs/documentation/recipes/static-website-with-mkdocs.md
  docs/observability/recipes-observability.md
  docs/privacy/privacy-frameworks.md
Labels: bug, agile, code reviews, source code

#838 #832 - go lint is deprecated and archived. make sure we fix the file …
  docs/code-reviews/recipes/go.md
Labels: code reviews
