Repository microsoft/code-with-engineering-playbook, pull requests merged in 2022-06, with the labels that each got.

#841 File names must use uppercase README to be recognized as index page by MkDocs
  docs/agile-development/advanced-topics/backlog-management/README.md
  docs/agile-development/basics/Backlog Management/README.md
  docs/agile-development/basics/Ceremonies/README.md
  docs/agile-development/basics/Roles/README.md
  docs/agile-development/basics/Sprints/README.md
Labels: bug, agile

#777 docs: Introduces documentation for secret detection within repos
  docs/security/README.md
  docs/security/secret-detection.md
Labels: security

#843 Create stale issues flow
  .github/workflows/stale_issues_flow
Labels: general

#844 Remove superflous sentence on testing landing page
  docs/automated-testing/README.md
Labels: general, testing

#850 update reviewers and contribution info
  .github/reviewers.yml
  CONTRIBUTING.md
Labels: general
