Repository microsoft/code-with-engineering-playbook, pull requests merged in 2022-11, with the labels that each got.

#901 Introduce Code Completion to Dev Experience
  docs/developer-experience/code-completion.md
  docs/developer-experience/images/VSCode.png
  docs/developer-experience/images/github-copilot.png
  docs/privacy/data-handling.md
Labels: developer experience

#906 Deleted the tech specific sample for Using Locust Test in Power Platform
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/README.md
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/images/test-flow.drawio
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/images/test-flow.png
Labels: testing

#905 update contributing guidelines
  CONTRIBUTING.md
Labels: general
