Repository microsoft/code-with-engineering-playbook, pull requests merged in 2022-01, with the labels that each got.

#775 fix canary release link
  docs/code-reviews/pull-requests.md
Labels: code reviews

#638 docs: Add Agile Development pillars
  docs/agile-development/README.md
  docs/agile-development/delivery-plan/README.md
Labels: agile

#746 Iterative performance test template for capturing results
  docs/automated-testing/performance-testing/README.md
  docs/automated-testing/performance-testing/iterative-perf-test-template.md
Labels: testing

#762 docs: Add link to design recipes in root design README
  docs/design/README.md
  docs/design/design-reviews/README.md
  docs/design/design-reviews/recipes/README.md
Labels: design reviews

#771 Merge UI Design Doc with Design Reviews Trade Study
  docs/design/design-reviews/trade-studies/template.md
  docs/user-interface-engineering/README.md
  docs/user-interface-engineering/accessibility.md
  docs/user-interface-engineering/design-document-template.md
Labels: design reviews, design patterns, user interface

#774 Update diagnostic-tools.md
  docs/observability/diagnostic-tools.md
Labels: observability

#767 docs: Add a page to reference distributed system design resources
  docs/design/design-patterns/README.md
  docs/design/design-patterns/distributed-system-design-reference/README.md
Labels: design patterns

#776 Going further with Dev Containers
  docs/developer-experience/devcontainers.md
  docs/developer-experience/going-further.md
Labels: developer experience

#787 addresses issue #360 by linking to dev container section
  docs/continuous-integration/README.md
  docs/continuous-integration/devcontainers/terraform/.devcontainer/Dockerfile
  docs/continuous-integration/devcontainers/terraform/.devcontainer/devcontainer.json
Labels: CI/CD

#789 Fix broken links
  docs/automated-testing/tech-specific-samples/power-platform-dataverse-tests/README.md
  docs/code-reviews/recipes/java.md
  docs/privacy/privacy-frameworks.md
Labels: general, testing, code reviews, privacy
