Repository microsoft/code-with-engineering-playbook, pull requests merged in 2023-10, with the labels that each got.

#998 fix broken links
  .cspell.json
  docs/automated-testing/fault-injection-testing/README.md
  docs/code-reviews/recipes/markdown.md
  docs/documentation/tools/automation.md
  docs/observability/profiling.md
  linkcheck.json
Labels: general

#992 semantic versioning monorepo
  docs/design/design-patterns/rest-api-design-guidance.md
  docs/source-control/assets/monorepo-git-tags.png
  docs/source-control/assets/monorepo.png
  docs/source-control/component-versioning.md
Labels: source code

#984 Exception handling details
  docs/design/exception-handling/readme.md
Labels: design patterns
