Repository microsoft/code-with-engineering-playbook, pull requests merged in 2023-03, with the labels that each got.

#939 Update secret detection content
  docs/continuous-integration/dev-sec-ops/secret-management/credential_scanning.md
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets-ado.md
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets.md
  docs/security/README.md
  docs/security/secret-detection.md
  docs/source-control/secrets-management.md
Labels: CI/CD

#931 Refactor Dev Ex
  docs/automated-testing/README.md
  docs/continuous-delivery/recipes/terraform/save-output-to-variable-group.md
  docs/continuous-integration/dev-sec-ops/secret-management/recipes/detect-secrets.md
  docs/developer-experience/README.md
  docs/developer-experience/client-app-inner-loop.md
  docs/developer-experience/code-completion.md
  docs/developer-experience/cross-platform-tasks.md
  docs/developer-experience/devcontainers.md
  docs/developer-experience/execute-local-pipeline-with-docker.md
  docs/developer-experience/fake-services-inner-loop.md
  docs/developer-experience/going-further.md
  docs/developer-experience/onboarding-guide-template.md
  docs/developer-experience/recipes/client-app-inner-loop.md
  docs/developer-experience/toggle-vnet-dev-environment.md
  docs/documentation/README.md
  docs/documentation/guidance/project-and-repositories.md
Labels: developer experience

#944 Git commit and versioning improvements
  docs/SPRINT-STRUCTURE.md
  docs/documentation/README.md
  docs/source-control/README.md
  docs/source-control/component-versioning.md
  docs/source-control/git-guidance/README.md
Labels: source code

#946 Adding tooling to pair programming
  docs/agile-development/advanced-topics/collaboration/README.md
  docs/agile-development/advanced-topics/collaboration/pair-programming-tools.md
  docs/agile-development/advanced-topics/collaboration/why-collaboration.md
  linkcheck.json
Labels: agile

#953 added diagram section to design
  docs/design/diagram-types/DesignDiagramsTemplates/Images/azureDeploymentDiagram.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/deploymentDiagram.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/ecommerceSite.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/facebookUserAuthentication.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/generalization-aggregation-association.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/orderingSystem.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/placeOrderScenario.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/realization.png
  docs/design/diagram-types/DesignDiagramsTemplates/Images/withPersistenceAndSecurity.png
  docs/design/diagram-types/DesignDiagramsTemplates/classDiagrams.md
  docs/design/diagram-types/DesignDiagramsTemplates/componentDiagrams.md
  docs/design/diagram-types/DesignDiagramsTemplates/deploymentDiagrams.md
  docs/design/diagram-types/DesignDiagramsTemplates/sequenceDiagrams.md
  docs/design/diagram-types/README.md
  docs/design/readme.md
Labels: design patterns
