Repository microsoft/code-with-engineering-playbook, pull requests merged in 2023-01, with the labels that each got.

#908 adding checkly to synthetics tools
  docs/automated-testing/synthetic-monitoring-tests/README.md
Labels: testing

#922 Update diagram tooling to include Visio or PowerPoint
  docs/design/design-reviews/recipes/preferred-diagram-tooling.md
Labels: design reviews

#916 Correct phrasing when talking about MVPs
  docs/agile-development/advanced-topics/effective-organization/delivery-plan.md
Labels: agile

#923 Edits to accessibility page
  docs/accessibility/README.md
Labels: general

#920 Update title for MkDocs version of Repo
  docs/automated-testing/e2e-testing/recipes/postman-testing.md
  docs/design/design-reviews/recipes/preferred-diagram-tooling.md
Labels: testing
