Repository microsoft/code-with-engineering-playbook, pull requests merged in 2023-02, with the labels that each got.

#919 Extend secrets management and reorganize `continuous-delivery` folders
  docs/SPRINT-STRUCTURE.md
  docs/continuous-delivery/azure-devops/secret-management-per-branch.md
  docs/continuous-delivery/gitops/deploying/README.md
  docs/continuous-delivery/gitops/deploying/images/GitopsWorflowVsTraditionalPush.jpg
  docs/continuous-delivery/gitops/secret-management/secret-management-gitops.md
  docs/continuous-delivery/gitops/secret-management/secret-rotation-in-pods.md
  docs/continuous-delivery/secrets-management/README.md
  docs/continuous-delivery/secrets-management/recipes/secret-management-with-gitops/secret-management-gitops.md
Labels: CI/CD

#913 Add article on Azure DevOps service connection security
  docs/continuous-integration/dev-sec-ops/azure-devops/images/approvals-and-checks.png
  docs/continuous-integration/dev-sec-ops/azure-devops/images/branch-control.png
  docs/continuous-integration/dev-sec-ops/azure-devops/service-connection-security.md
Labels: CI/CD

#928 Modifying Stub Documentation With Python Example
  docs/automated-testing/unit-testing/mocking.md
Labels: testing

#927 Developer experience: toggle VNet on and off for development environment
  docs/developer-experience/toggle-vnet-dev-environment.md
Labels: developer experience

#938 Enhancements to reliability/chaos testing sections
  .cspell.json
  CONTRIBUTING.md
  docs/automated-testing/README.md
  docs/automated-testing/fault-injection-testing/README.md
  docs/reliability/README.md
Labels: testing

#936 Add project templates link section for cookiecutter repositories
  docs/design/readme.md
Labels: design patterns
